* {
  font-family: 'Roboto', sans-serif;
  margin:0px;
  padding-top:0px;
}
/* before menu */
.top {
  background: #2E2E2E;
}

.inner {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.top_social i {
  color: #ffffff;
  padding: 0.2em;
}

.top_social {
  position: inherit;
  display: inline-block;
  width: auto;
  height: auto;
}

.top_info {
  position: inherit;
  width: 14.5em;
  height: 1.0em;
  text-align: center;
  color: #ffffff;
  font-size: 0.9em;
}

/* menu */

.header {
  width:100%;
  background:#ffffff;
  height: 75px;
  float:left;
  /*
  background-image:url(../image/intro.jpg);
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  height:500px;position:relative;
  top:0px;
  z-index:0;
  text-align:center */
}

/* boton home */

.header_logo_img {
  line-height: 44px;
}

/* empieza menu */

.header_menu {
  list-style:none;
  float:right;
  width:85%;
}

.header_menu ul {
  list-style: none;
  float: left;
  padding: 1.5%;
  width:50%;
}

.header_menu ul .header_menu_item {
  float:left;
  margin-right:20px;
  margin-bottom:10px;
  padding:5px;
}

.header_menu ul .header_menu_item .header_menu_link {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

.header_menu ul .header_menu_item .header_menu_link:hover {
  color: rgb(102, 142, 191);
}

